.home {
	padding: 15px;
	min-height: 100%;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.list{
    background-color: red;
}

.grid{
    background-color: blue;
}
