.cardGrid{
    flex: 0 0 calc(50% - 30px);
    margin: 15px;
    flex-direction: column;
}
.cardHeader {
  padding: 16px;
}

.default {
  padding: 16px;
}

.cardList{
    flex: 0 0 1;
    flex-direction: row;
    margin: 15px;
}
